.maincarddiv {
    padding: 1rem;
    border: 1px solid whitesmoke;
    margin: auto;
    display:grid;
    grid-gap:15px ;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    width: 99%;
  }
   
  .procard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 8%;
    background-color: gray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: left;
   }
 
   .Procardd{
    color: yellow;
   }
 